.icon {
  &__payment {
    background: url("../../img/icon-payment.png") no-repeat;
    width: 64px;
    height: 64px;
  }
  &__guarantee {
    background: url("../../img/icon-guarantee.png") no-repeat;
    width: 64px;
    height: 64px;
  }
  &__masters {
    background: url("../../img/icon-masters.png") no-repeat;
    width: 64px;
    height: 64px;
  }
  &__payment-big {
    background: url("../../img/icon-payment-big.png") no-repeat;
    width: 130px;
    height: 126px;
    margin: 0 auto;
  }
  &__control-big {
    background: url("../../img/icon-control-big.png") no-repeat;
    width: 115px;
    height: 136px;
    margin: 0 auto;
  }
  &__guarantee-big {
    background: url("../../img/icon-guarantee-big.png") no-repeat;
    width: 127px;
    height: 137px;
    margin: 0 auto;
  }
  &__masters-big {
    background: url("../../img/icon-masters-big.png") no-repeat;
    width: 156px;
    height: 127px;
    margin: 0 auto;
  }
  &__time-big {
    background: url("../../img/icon-time-big.png") no-repeat;
    width: 137px;
    height: 138px;
    margin: 0 auto;
  }
  &__spatula-big {
    background: url("../../img/icon-spatula-big.png") no-repeat;
    width: 139px;
    height: 130px;
    margin: 0 auto;
  }
  &__finishing-materials-1 {
    background: url("../../img/icon-finishing-materials-1.png") no-repeat;
    width: 40px;
    height: 24px;
    margin: 0 10px;
  }
  &__finishing-materials-2 {
    background: url("../../img/icon-finishing-materials-2.png") no-repeat;
    width: 27px;
    height: 35px;
    margin: 0 10px;
  }
  &__finishing-materials-3 {
    background: url("../../img/icon-finishing-materials-3.png") no-repeat;
    width: 37px;
    height: 37px;
    margin: 0 10px;
  }
  &__rough-materials-1 {
    background: url("../../img/icon-rough-materials-1.png") no-repeat;
    width: 35px;
    height: 35px;
    margin: 0 10px;
  }
  &__rough-materials-2 {
    background: url("../../img/icon-rough-materials-2.png") no-repeat;
    width: 44px;
    height: 34px;
    margin: 0 10px;
  }
  &__rough-materials-3 {
    background: url("../../img/icon-rough-materials-3.png") no-repeat;
    width: 43px;
    height: 35px;
    margin: 0 10px;
  }
  &__area {
    background: url("../../img/icon-area.png") no-repeat;
    width: 20px;
    height: 16px;
  }
  &__value {
    background: url("../../img/icon-value.png") no-repeat;
    width: 20px;
    height: 24px;
  }
  &__term {
    background: url("../../img/icon-term.png") no-repeat;
    width: 19px;
    height: 19px;
  }
  &__phone-orange {
    background: url("../../img/icon-phone-orange.png") no-repeat 50% 50%;
    width: 29px;
    height: 29px;
  }
  &__location {
    background: url("../../img/icon-location.png") no-repeat 50% 50%;
    width: 29px;
    height: 31px;
  }
  &__mail {
    background: url("../../img/icon-mail.png") no-repeat 50% 50%;
    width: 29px;
    height: 28px;
  }
}