.icon {
  &__payment {
    background: url("../../img/icon-payment.png") no-repeat;
    width: 64px;
    height: 64px;
  }
  &__guarantee {
    background: url("../../img/icon-guarantee.png") no-repeat;
    width: 64px;
    height: 64px;
  }
  &__masters {
    background: url("../../img/icon-masters.png") no-repeat;
    width: 64px;
    height: 64px;
  }
}