.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}

.body {
  font-family: 'Open Sans', Arial, sans-serif;
}

p {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 50px;
  font-family: "OpenSans", sans-serif;
  color: rgb(8, 75, 147);
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 35px;
  font-family: "OpenSans", sans-serif;
  color: rgb(17, 17, 17);
  font-weight: bold;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-size: 35px;
  font-family: "OpenSans", sans-serif;
  color: rgb(8, 75, 147);
  text-align: center;
}

.header {
  background: url("../../img/img-bg-header.png");
  padding-bottom: 35px;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    text-align: center;
    display: block;
    padding: 18px;
  }
}

.header-contacts {
  &__tel {
    font-size: 20px;
    font-family: "OpenSans", sans-serif;
    color: rgb(8, 75, 147);
    font-weight: bold;
    text-align: center;
    display: block;
  }
  &__span {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    text-align: center;
    display: block;
  }
  &__feedback {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 173, 23);
    text-decoration: underline;
    text-align: center;
    display: block;
  }
}

.header-main {
  &__items {
    padding: 30px 0;
  }
  &__item {
    display: flex;
    align-items: center;
    & p {
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      color: rgb(17, 17, 17);
      font-weight: 700;
      width: 210px;
      margin-left: 30px;
    }
  }
}

.header-calculator {
  width: 490px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.27);
  &__name {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    font-weight: 700;
  }
  &__top {
    display: flex;
    padding: 30px 40px 10px;
  }
  &__bottom {
    background-color: #084b93;
    padding: 10px 40px 30px;
  }
  &__left, &__right {
    width: 50%;
  }
  & input {
    width: 100%;
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
  }
  & input[placeholder] {
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    color: rgb(89, 89, 89);
  }
  & input[type="submit"] {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(254, 254, 254);
    text-align: center;
    background-color: rgb(255, 46, 38);
    border-radius: 50px;
    box-shadow: 0 5px 0 0 #ac201b;
  }
}

.radios {
  &__label {
    display: flex;
  }
  &__name {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
  }
  &__input {
    display: none;
  }
  &__input-custom {
    width: 28px;
    height: 28px;
    position: relative;
    background: url("../../img/icon-radio.png") no-repeat;
    margin-right: 20px;
  }
  &__input:checked {
    & + .radios {
      &__input-custom {
        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 16px;
          height: 16px;
          top: 6px;
          left: 6px;
          background: url("../../img/icon-radio-checked.png") no-repeat;
        }
      }
    }
  }
}

.advantages {
  padding: 75px 0 65px;
  &__item {
    text-align: center;
    padding: 25px 0;
  }
  &__icon {
    height: 138px;
    display: flex;
    align-items: center;
  }
  & p {
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    color: rgb(17, 17, 17);
    line-height: 1.25;
    text-align: left;
    margin: 12px 0;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background-color: #ffad17;
      border-radius: 50%;
      position: absolute;
      left: -18px;
      top: 5px;
    }
  }
  & span {
    font-size: 20px;
    font-family: "OpenSans", sans-serif;
    color: rgb(17, 17, 17);
    font-weight: bold;
    text-align: center;
  }
}