.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}

:focus, a:focus {
  outline: none;
}

p {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  color: rgb(8, 75, 147);
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 35px;
  font-family: "Open Sans", sans-serif;
  color: rgb(17, 17, 17);
  font-weight: bold;
  text-align: center;

}

h3 {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  color: rgb(17, 17, 17);
  font-weight: bold;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-size: 35px;
  font-family: "Open Sans", sans-serif;
  color: rgb(8, 75, 147);
  text-align: center;
  display: block;
  line-height: 16px;
}

.header {
  background: url(../img/img-bg-header.png) no-repeat 50% 50% #e1e1e1;
  padding-bottom: 37px;
  background-size: cover;
}

.header-top {
  padding-top: 11px;
  display: flex;
  justify-content: space-between;
}

.logotype {
  &__link {
    display: block;
    margin-left: 25px;
  }
  &__img {
    &_mob {
      display: none;
    }
  }
}

.header-nav {
  margin-left: 45px;
  margin-top: 8px;
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    text-align: center;
    display: block;
    padding: 19px;
  }
}

.header-contacts {
  padding: 11px 7px 0 0;
  line-height: 23px;
  &__tel {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: rgb(8, 75, 147);
    font-weight: bold;
    text-align: center;
    display: block;
    position: relative;
    &:before {
      content: '';
      display: block;
      background: url("../img/icon-phone.png") no-repeat;
      width: 22px;
      height: 21px;
      position: absolute;
      left: -23px;
      top: 0;
    }
  }
  &__span {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    text-align: center;
    display: block;
  }
  &__feedback {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 173, 23);
    text-decoration: underline;
    text-align: center;
    display: block;
  }
}

.header-nav-mob {
  display: none;
  padding: 20px 0 0 0;
  z-index: 9;
}

.header-main {
  padding-top: 32px;
  &__items {
    padding: 50px 0 30px;
  }
  &__item {
    display: flex;
    align-items: center;
    & p {
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      color: rgb(17, 17, 17);
      font-weight: 600;
      width: 262px;
      margin-left: 34px;
      line-height: 21px;
    }
  }
}

.header-calculator {
  width: 490px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.27);
  &__name {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    font-weight: 600;
  }
  &__top {
    display: flex;
    padding: 26px 34px 0 44px;
    justify-content: space-between;
  }
  &__descr{
    position: relative;
    padding: 0 27px 20px 37px;
    &__value {
      font-size: 16px;
      font-family: "OpenSans", sans-serif;
      color: rgb(255, 255, 255);
      font-weight: bold;
      padding: 5px;
      background-color: #084b93;
      border-radius: 5px;
    }
    & p {
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
      color: rgb(17, 17, 17);
      text-align: center;
      font-weight: 600;
      padding: 7px 0 0 69px;
    }
  }
  &__bottom {
    background-color: #084b93;
    padding: 19px 25px 24px 37px;
    & input {
      width: 100%;
      padding: 19px 30px;
      border-radius: 5px;
      border: none;
      margin-bottom: 10px;
      letter-spacing: -0.35px;
    }
    & input[placeholder] {
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      color: rgb(89, 89, 89);
    }
    & input[type="submit"] {
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      color: rgb(254, 254, 254);
      text-align: center;
      background-color: rgb(255, 46, 38);
      border-radius: 50px;
      box-shadow: 0 3px 0 0 #ac201b;
      padding: 14px 20px 19px;
      letter-spacing: 0.4px;
      font-weight: 600;
    }
  }
}

.radios {
  margin-top: 13px;
  &__label {
    display: flex;
    padding-bottom: 5px;
  }
  &__name {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
  }
  &__input {
    display: none;
  }
  &__input-custom {
    width: 28px;
    height: 28px;
    position: relative;
    background: url("../img/icon-radio.png") no-repeat;
    margin-right: 27px;
  }
  &__input:checked {
    & + .radios {
      &__input-custom {
        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 16px;
          height: 16px;
          top: 6px;
          left: 6px;
          background: url("../img/icon-radio-checked.png") no-repeat;
        }
      }
    }
  }
}

.advantages {
  padding: 58px 0 67px;
  background: #fff;
  &__item {
    padding: 45px 0 11px;
  }
  &__icon {
    height: 138px;
    display: flex;
  }
  & span {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    font-weight: bold;
    letter-spacing: -0.1px;
    display: block;
    margin-bottom: 12px;
    margin-top: 14px;
    text-align: center;
  }
}

.advantages-list {
  height: 250px;
  & p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    line-height: 1.25;
    text-align: left;
    margin-bottom: 20px;
    position: relative;
    padding-left: 15px;
    letter-spacing: -0.35px;
    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background-color: #ffad17;
      border-radius: 50%;
      position: absolute;
      left: -4px;
      top: 5px;
    }
  }
}

.price {
  padding: 68px 0 49px;
  background-color: #084b92;
  & h2 {
    color: #fff;
  }
  & .tabs {
    &__content {
      &_active {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  & .tabs-block {
    width: 33.33%;
  }
  & .tabs-price {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    margin-top: 17px;
    align-items: center;
    &__old {
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      color: #6c6c6c;
      margin-right: 30px;
    }
    &__old-value {
      font-size: 18px;
      font-weight: 600;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #fe3131;
        position: absolute;
        left: 0;
        top: 13px;
      }
    }
    &__new {
      font-size: 24px;
      font-family: "Open Sans", sans-serif;
      color: rgb(17, 17, 17);
      font-weight: bold;
      text-align: center;
      display: block;
      &_mob {
        display: none;
      }
    }
  }
}

.slider {
  width: 860px;
}

.tabs {
  position: relative;
  &__content {
    display: none;
    &_active {
      display: block;
    }
  }
  &__items {
    display: flex;
    justify-content: center;
    margin: 43px 0 66px
  }
  &__item {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(254, 254, 255);
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    margin: 0 19px;
    &_active {
      display: block;
      border-bottom: 3px solid #fff;
      font-weight: bold;
    }
  }
  &__btn {
    text-align: center;
    padding-top: 9px;
  }
}

.tabs-block {
  background-color: rgb(244, 243, 243);
  padding: 30px;
  height: 628px;
  &__descr {
    padding: 26px 0 0 7px;
  }
  &__title {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    font-weight: 600;
  }
  & p {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    background: url(../img/icon-true.png) no-repeat 0 50%;
    padding: 0 110px 0 50px;
    margin: 15px 0 21px;
  }
  &_primary {
    background-color: #fff;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .17);
    z-index: 1;
    position: relative;
    top: -18px;
    height: 666px;
    & .tabs-block {
      &__title {
        font-size: 24px;
        font-weight: 600;
        display: block;
        text-align: left;
        margin-bottom: 16px;
      }
    }
    & .tabs-price {
      display: block;
      &__old {
        color: rgb(17, 17, 17);
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 0;
      }
      &__new {
        font-size: 36px;
      }
    }
  }
}

.list {
  margin-bottom: 16px;
  &__name {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    font-weight: bold;
    position: relative;
    letter-spacing: 0.3px;
    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background-color: #ffad17;
      border-radius: 50%;
      position: absolute;
      top: 4px;
      left: -16px;
    }
  }
  &__item {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    line-height: 18px;
  }
  &__icons {
    display: flex;
    align-items: center;
    margin: 8px 0;
  }
  &__all-btn {
    display: none;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 173, 23);
    text-transform: uppercase;
    font-weight: 600;
  }
}

.btn {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #fefefe;
  text-align: center;
  background-color: #ff2e26;
  border-radius: 50px;
  box-shadow: 0 5px 0 0 #ac201b;
  padding: 17px 27px;
  display: inline-block;
  font-weight: bold;
}

.portfolio {
  padding: 57px 0 30px;
  & .tabs {
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.17);
    &__content {
      &_active {
        display: flex;
      }
    }
    &__items {
      background-color: #084b93;
      margin: 37px 0 0;
    }
    &__item {
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 20px 31px;
      text-transform: none;
      margin: 0;
      display: block;
      &_active {
        background-color: #0368d6;
        border-bottom-color: #8fc5ff;
        font-weight: bold;
      }
    }
  }
  &__descr {
    width: 310px;
  }
  &__head {
    padding: 15px 42px;
    letter-spacing: 0.35px;
  }
  &__name {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    display: inline-block;
    position: relative;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 3px;
  }
  &__subname {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    display: block;
    padding-top: 3px;
    padding-bottom: 7px;
  }

  &__item {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    display: flex;
    line-height: 26px;
    padding-left: 5px;
    letter-spacing: 0px;
  }
  &__bottom {
    background-color: #f4f3f3;
    padding: 9px 35px 15px 40px;
    &__link {
      &:after {
        right: 85px;
      }
    }
    & .portfolio {
      &__name {
        &:after {
          content: '';
          display: block;
          width: 19px;
          height: 11px;
          background: url("../img/icon-arrow-down.png") no-repeat;
          position: absolute;
          right: -27px;
          top: 8px;
        }
      }
    }
  }
  &__link {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    font-weight: 600;
    display: inline-block;
    position: relative;
    top: -11px;
    &:after {
      content: '';
      display: block;
      width: 11px;
      height: 19px;
      background: url("../img/icon-arrow-right.png") no-repeat;
      position: absolute;
      right: -24px;
      top: 4px;
    }
  }
  &__btn {
    & .btn {
      padding: 17px 22px;
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.slider {
  &__img {
    width: 100%;
  }
}

.features {
  background: #fff url("../img/img-bg-features.png");
  padding: 63px 0 44px;
  & h2 {
    width: 500px;
    margin: 0 auto;
    line-height: 38px;
  }
  & .list {
    margin-top: 22px;
    &__item {
      line-height: 20px;
      margin-bottom: 19px;
    }
    &__items {
      padding-left: 18px;
    }
    &__item {
      position: relative;
      font-size: 16px;

      &:before {
        content: '';
        display: block;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: #ffad17;
        position: absolute;
        top: 4px;
        left: -16px;
      }
    }
    &__sponsors {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 21px;
    }
    &__sponsor {
      &_mob {
        display: none;
      }
    }
  }
  &__item {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 83px;
    margin-top: 52px;
    &_right {
      justify-content: flex-start;
      & .features {
        &__img {
          right: 0;
          left: auto;
        }
        &__descr {
          padding: 35px 350px 20px 39px;
        }
        & .list {
          margin-top: 25px;
        }
      }
    }
  }
  &__img {
    position: absolute;
    left: 22px;
    top: 47px;
    box-shadow: -14.923px 10.065px 27px 0 rgba(0, 0, 0, 0.23);
  }
  &__descr {
    width: 78%;
    border: 4px solid #ffad17;
    padding: 32px 28px 20px 346px;
    height: 478px;
  }

}

.team {
  padding: 56px 0 76px;
  &__photo {
    padding: 78px 0 0 56px;
    &:before {
      content: '';
      display: block;
      width: 372px;
      height: 581px;
      position: absolute;
      top: 42px;
      left: 32px;
      border: 4px solid #ffad17;
      z-index: -1;
    }
  }
  &__img {
    box-shadow: 0 0 27px 0 rgba(0, 0, 0, .23);
    height: 578px;
    width: 376px;
    &_mob {
      display: none;
    }
  }
  & .owl-carousel {
    display: block;
    & .owl-item {
      & .team {
        &__img {
          &_mob {
            display: none;
          }
        }
      }
    }
  }
}

.master {
  padding-top: 80px;
  height: 430px;
  & h3 {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 600;
  }
  &__item {
    &_flex {
      display: flex;
      margin-bottom: 27px;
    }
    & p {
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      color: rgb(0, 0, 0);
      line-height: 24px;
      margin-bottom: 32px;
    }
  }
  &__rank {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 400;
    display: block;
    padding-top: 1px;
    padding-bottom: 25px;
  }
  &__caption {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: inline-block;
  }
  &__value {
    font-weight: bold;
    font-size: 16px;
  }
  &__stars {
    display: flex;
  }
}

.master-list {
  position: absolute;
  right: 11px;
  bottom: -26px;
  &__caption {
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding-left: 10px;
  }
  &__items {
    margin: 25px 0 66px;
  }
  &__item {
    margin: 0;
    margin-left: 10px;
  }
  & .tabs {
    &__item {
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 98%;
        position: relative;
        top: -98%;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
      }
      &_active {
        &:after {
          display: none;
        }
      }
    }
  }
}

.warm-flor {
  background: #fff url("../img/img-bg-warm-floor-1.png") no-repeat 50% 50%;
  background-size: cover;
  padding: 59px 0 75px;
  & h2 {
    font-weight: 900;
    letter-spacing: 0.5px;
  }
  &__box {
    margin: 79px 0 0;
  }
  &__head {
    margin-bottom: 37px;
    & p {
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
      color: rgb(17, 17, 17);
      line-height: 30px;
    }
  }
  &__guarantee {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    font-weight: bold;
    padding-left: 27px;
    margin-top: 12px;
    background: url("../img/icon-guarantee-orange.png") no-repeat;
  }
  &__form {
    margin-top: 10px;
  }
  &__feadback {
    background-color: #fff;
    padding: 23px 28px;
    border-radius: 5px;
    & p {
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
      color: rgb(17, 17, 17);
    }
  }
  & input {
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 29px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    margin-bottom: 10px;
  }
  & input[placeholder] {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #111111;
  }
  & input[type=submit] {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #fefefe;
    text-align: center;
    background-color: #ff2e26;
    border-radius: 50px;
    box-shadow: 0 5px 0 0 #ac201b;
    border: none;
  }
  &__wrapper {

  }
  &_second {
    background: url(../img/img-bg-warm-floor-2.png) 50% 50% no-repeat #074e99;
    & .warm-flor {
      &__feadback {
        margin: 85px 0 68px 0;
      }
      &__wrapper {
        background-size: contain;
      }
    }
  }
}

.countdown {
  display: flex;
  &__caption {
    font-size: 12px;
    display: block;
    padding: 0 8px 0 8px;
  }
  &__item {
    display: flex;
    align-items: baseline;
  }
  &__number {
    font-size: 36px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    font-weight: bold;
  }
}

.technology {
  background: #fff url("../img/img-bg-features.png");
  padding: 64px 0 71px;
  & h2 {
    width: 665px;
    margin: 0 auto;
    line-height: 38px;
  }
  & .list {
    &__name {
      font-size: 20px;
      &:before {
        display: none;
      }
    }
    &__items {
      padding-left: 17px;
      padding-top: 14px;
    }
    &__item {
      position: relative;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 24px;
      &:before {
        content: '';
        display: block;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: #ffad17;
        position: absolute;
        top: 4px;
        left: -16px;
      }
    }
  }
  &__photo {
    position: relative;
    & p {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      color: rgb(17, 17, 17);
      text-align: center;
      font-weight: 300;
      margin-top: 31px;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      border: 4px solid #ffad17;
      top: -34px;
      left: -35px;
      z-index: 0;
      height: 392px;
      width: 471px;
    }
  }
  &__item {
    //position: relative;
    //display: flex;
    //justify-content: flex-end;
    margin-bottom: 81px;
    margin-top: 80px;
    &_right {
      margin-bottom: 0;
      & .technology {
        &__item {

        }
        &__descr {
          padding-left: 22px;
          & h3 {
            line-height: 27px;
          }
        }
        &__photo {
          text-align: right;
          &:before {
            left: 119px;
          }
        }
      }
    }
  }
  &__img {
    position: relative;
    box-shadow: -14.923px 10.065px 27px 0 rgba(0, 0, 0, 0.23);
    &:before {
      border: 4px solid #ffad17;
      display: block;
      content: '';
      height: 100%;
      width: 100%;
    }
  }
  &__descr {
    padding: 0 0 20px 15px;
    height: 470px;
    & h3 {
      line-height: 25px;
    }
    & p {
      font-size: 16px;
      margin: 49px 0 14px;
      letter-spacing: .4px;
      line-height: 20px;
    }
  }
}

.sale {
  padding: 60px 0 20px;
  background-color: #084b92;
  & h2 {
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
  }
  &__box {
    padding: 16px 0 18px 33px;
  }
  &__item {
    border-bottom: 1px dotted #f4f3f1;
    margin-bottom: 15px;
    &:last-child {
      border: none;
    }
  }
  &__img {
    margin-top: 14px;
  }
  &__subtitle {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    margin-bottom: 62px;
  }
  &__name {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
  }
  & p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    padding: 7px 0 25px;
    line-height: 20px;
  }
  &__sponsor {
    margin-right: 7px;
    margin-bottom: 14px;
  }
}

.catalog {
  padding: 62px 0 40px;
  background-color: #ffffff;
  & h2 {
    width: 565px;
    line-height: 37px;
    margin: 0 auto;
  }
  &__items {
    padding-top: 48px;
  }
  &__descr {

  }
  &__item {
    background-color: #fff;
    box-shadow: 2.472px 7.608px 24px 0 rgba(49, 49, 49, 0.16);
    text-align: center;
    margin-bottom: 28px;
    height: 375px;
    padding-top: 12px;
    & img {
      height: 179px;
    }
  }
  &__name {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    font-weight: 600;
    display: block;
    text-align: left;
    line-height: 24px;
    padding: 0 60px 0 20px;
  }
  & p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    text-align: left;
    margin-top: 17px;
    line-height: 20px;
    padding: 0 42px 0 20px;
  }
}

.school {
  padding: 73px 0 211px;
  background: #fff url("../img/img-bg-school.png") no-repeat 100% 0;
  position: relative;
  & h2 {
    font-weight: 900;
  }
  &__slider {
    margin-top: 70px;
  }
  &__items {
    box-shadow: 2.47px 7.61px 24px 0 rgba(49, 49, 49, .16);
    background-color: #fff;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 120px;
      position: absolute;
      bottom: -55px;
      left: 0;
      background: url(../../img/img-shadow.png) no-repeat;
      background-size: contain;
    }
  }
  &__item {
    background-color: #fff;
    padding: 36px 60px 24px 47px;
  }
  &__name {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 31px;
  }
  &__list {
    margin-top: 36px;
  }
  &__photo {
    display: none;
  }
  &__list-item {
    display: flex;
    margin-bottom: 24px;
    & p {
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
      color: rgb(0, 0, 0);
      width: 390px;
      padding-left: 30px;
      line-height: 30px;

    }
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(1n) {
      & p {
        padding-right: 75px;
      }
    }
    &:nth-child(2n) {
      & p {
        padding-right: 40px;
      }
    }
    &:nth-child(3n) {
      & p {
        padding-right: 0;
      }
    }
  }

  &__master-class {
    position: absolute;
    right: 21px;
    bottom: 45px;
    & p {
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
      color: rgb(255, 254, 254);
      font-style: italic;
    }
  }
  .owl-theme .owl-dots .owl-dot.active span {
    background: #fff;
  }
  .owl-theme .owl-dots .owl-dot span {
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border: 3px solid #00499b;
    background: #00499b;
    margin: 5px;
  }
}

.stock {
  background: #fff url("../img/img-bg-stock.png") 50% no-repeat;
  background-size: cover;
  padding: 68px 0 319px;
  & h2 {
    font-weight: 700;
    width: 750px;
    line-height: 47px;
    margin: 0 auto;
  }
  &__items {
    margin-top: 51px;
  }
  &__item {
    display: flex;
  }
  & p {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    padding-left: 27px;
    width: 300px;
    line-height: 30px;
    font-weight: 600;
  }
}

.trust {
  padding: 58px 0 98px;
  background: url("../img/img-bg-features.png") no-repeat;
  background-size: cover;
  & h2 {
    font-weight: 900;
  }
  &__items {
    display: flex;
    background-color: #fff;
    margin: 40px 80px 0;
    padding: 25px 35px;
  }
  &__item {
    text-align: center;
  }
  & p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    width: 235px;
    margin-top: 33px;
    line-height: 20px;
  }
}

.contacts {
  display: flex;
  &__descr {
    width: 44%;
    padding: 57px 55px;
    & h2 {
      text-align: left;
      font-weight: 900;
      padding-left: 22px;
    }
  }
  &__list {
    margin-top: 57px;
  }
  &__item {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    display: flex;
    margin-bottom: 19px;
  }
  &__span {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #616060;
    display: block;
  }
  &__tel {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    font-weight: bold;
    padding-left: 20px;
  }
  &__mail {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: rgb(17, 17, 17);
    font-weight: 600;
    padding-left: 20px;
  }
  &__txt {
    padding-left: 20px;
    width: 370px;
  }
  &__map {
    width: 56%;
    background: url("../../img/img-map.png") 50% 50% no-repeat;
  }
}

.footer {
  background-color: #084b92;
  padding: 45px 0;
  &__box {
    display: flex;
    justify-content: space-between;
  }
  & p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(254, 252, 252);
  }
  &__link {
    text-decoration: underline;
    color: #fff;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.customNextBtn, .customPrevBtn {
  position: absolute;
  width: 9px;
  height: 15px;
  z-index: 1;
  bottom: 35px;
  cursor: pointer;
}

.customNextBtn {
  background: url("../img/icon-slider-arrow-right-1.png") no-repeat 50% 50%;
  right: 663px;
}

.customPrevBtn {
  background: url("../img/icon-slider-arrow-left-1.png") no-repeat 50% 50%;
  left: 354px;
}

.customNextBtn2, .customPrevBtn2 {
  position: absolute;
  width: 33px;
  height: 60px;
  z-index: 1;
  bottom: -120px;
  cursor: pointer;
}

.customNextBtn2 {
  background: url("../img/icon-slider-arrow-right-2.png") no-repeat 50% 50%;
  right: 180px;
}

.customPrevBtn2 {
  background: url("../img/icon-slider-arrow-left-2.png") no-repeat 50% 50%;
  left: 180px;
}

/////////////
.range-slider {
  display: flex;
  margin-top: 11px;
  &__value {
    background-color: #084b93;
    padding: 5px 25px 5px 7px;
    border-radius: 5px;
    width: 60px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: bold;
    position: relative;
  }
  &__input {
    position: relative;
    margin-right: 14px;

  }
  &__span {
    position: absolute;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #fff;
    top: 5px;
    right: 5px;
  }
  &__scale {
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    width: 100%;
    border-radius: 8px;
    border: none;
    height: 7px;
    padding: 0;
    background-color: #002357;
    position: relative;
    top: 4px;
    z-index: 0;
    &:after {
      content: '';
      display: block;
      width: 97%;
      left: 7px;
      position: absolute;
      height: 19px;
      top: 8px;
      right: 0;
      background: url(../img/icon-range-slider.png) 50% 50% no-repeat;
      background-size: contain;
      z-index: -1;
    }
  }
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #ff2e26;
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
  z-index: 999;
}

/////Legal//////
.legal {
  padding: 90px 15px 10px 15px;
  & h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-weight: bold;
    font-size: 46px;
    margin: 0 0 50px 0;
  }
  & h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-weight: bold;
    font-size: 33px;
    margin: 60px 0 40px 0;
  }
  & p {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    color: #000;
  }
  &__btn {
    text-align: center;
  }
  &__link {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    margin: 0 auto 40px auto;
    background-color: #ff2e26;
    border: none;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    padding: 15px 30px 15px 30px;
  }
}

.header {
  &_legal {
    background: #fff;
  }
}

.navbar-fixed-top {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 11px 15px 5px;
}